.footer {
    display: flex;
    padding: 1rem;
    background-image: url('../assets/img/bg2.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-end;
}

.footer__row {
    align-self: end;
}

.footer img {
    width: 36%;
}

.footer p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

@media (max-width:749px) {
    .social-icon {
        justify-items: end;
        margin-right: -6rem;
    }

    .footer {
        padding: 20px 0 10px 0;
    }
}