.skill {
    padding: 0 0 50px 0;
    position: relative;
    background-color: rgba(0, 7, 14, 0.984);

    .skill-box {
        background-color: var(--mid-blue);
        border-radius: 64px;
        text-align: center;
        padding: 60px 50px;
        margin-top: -2rem;
    }

    h2 {
        font-size: 45px;
        font-weight: 700;
        color: var(--gold);
    }

    p {
        color: #b8b8b8;
        font-size: clamp(.5rem, .5rem + .8vw, 1.5rem);
        ;
        letter-spacing: 0.8px;
        line-height: 1.5em;
        margin: 14px 0 75px;
    }

    .skill-slider {
        width: 80%;
        margin: 0 auto;
        position: relative;

        .item img {
            width: 50%;
            margin: 0 auto 15px auto;
        }

        .item {
            margin: 1rem;

            h5 {
                color: var(--gold);
            }
        }

        .radial-progress {
            margin: 0 auto 15px auto;
            font-size: 1.3rem;
            font-weight: 700;

        }

        .radial-progress:before {

            color: #840a8f;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;

            background: radial-gradient(farthest-side, currentColor 98%, #0000) top/var(--thickness) var(--thickness) no-repeat, conic-gradient(currentColor calc(var(--value) * 1%), rgba(220, 19, 19, 0) 0);
            -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
            mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
        }
    }

}

.background-image-left {
    position: absolute;
    top: 28%;
    bottom: 0;
    width: 40%;
    z-index: -4;

}

@media (max-width:549px) {
    .skill {
        padding-bottom: 20px;
        .skill-box{
            padding: 30px 25px;
        }
        h2 {
            font-size: 20px;
        }
        p{
            font-size: 10px;
            margin: 10px 0 25px;
        }
        button{
            z-index: 1;
        }
    }
}